# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\marce\OneDrive - stud.hs-heilbronn.de\21 Sommersemester\Algorithmen und Datenstrukturen\Dijkstra und A\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
